<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h1 class="display-2 text-white">{{title}}</h1>
        <p class="text-white mt-0 mb-5">Aqui você cadastra novos desafios para as vagas disponíveis</p>
        <!-- <a href="#!" class="btn btn-info">Editar perfil</a> -->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">{{subtitle}}</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="formGroup">
            <h6 class="heading-small text-muted mb-4">Informações</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="Selecione o Cargo:">Selecione um Cargo:</label>
                    <select class="form-control" formControlName="select">
                      <option value="">Selecione</option>
                      <option [ngValue]="cargo.id" *ngFor="let cargo of cargos">
                        {{cargo.nome}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="dataAbertura">Data Abertura</label>
                    <div class="input-group input-group-alternative mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                      </div>
                      <input class="form-control form-control-alternative" placeholder="" type="date"
                        formControlName="dataAbertura">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="dataFechamento">Data Fechamento</label>
                    <div class="input-group input-group-alternative mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                      </div>
                      <input class="form-control form-control-alternative" placeholder="" type="date"
                        formControlName="dataFechamento">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="limiteInscricao">Limite Inscrição</label>
                    <div class="input-group input-group-alternative mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-users"></i></span>
                      </div>
                      <input class="form-control form-control-alternative" placeholder="" type="number"
                        formControlName="limiteInscricao">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <div class="row">
              <div class="col">
                <h6 class="heading-small text-muted mb-4">Questões</h6>
              </div>
              <div class="col text-right">
                <button type="button" class="btn btn-success btn-info" (click)="addQuestao()">+</button>
              </div>
            </div>

            <div class="pl-lg-4">
              <div class="row" *ngFor="let questao of questoes; let i = index;">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="row">
                      <div class="col">
                        <label class="form-control-label" for="input-address">Questão {{i + 1}}</label>
                      </div>
                      <div class="col text-right">
                        <button type="button" class="btn btn-danger btn-sm" (click)="removeQuestao(i)">Remover</button>
                      </div>
                    </div>
                    <textarea rows="4" class="form-control form-control-alternative" [(ngModel)]="questao.descricao"
                      [ngModelOptions]="{standalone: true}"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <div class="pl-lg-4">
              <div class="form-group">
                <button type="button" class="btn btn-success btn-lg btn-block" [disabled]="formGroup.invalid"
                  (click)="salvar()">Salvar</button>
                <button type="button" class="btn btn-danger btn-lg btn-block" (click)="cancelar()">Cancelar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
