<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h1 class="display-2 text-white">Cadastrar Desafio</h1>
        <p class="text-white mt-0 mb-5">Aqui você cadastra novos desafios para os candidatos.</p>
        <!-- <a href="#!" class="btn btn-info">Editar perfil</a> -->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Novo Desafio</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="formGroup">
            <h6 class="heading-small text-muted mb-4">Informações</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Título</label>
                    <input type="text" id="input-username" formControlName="titulo"
                      class="form-control form-control-alternative" value="">
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Descrição</label>
                    <textarea rows="4" class="form-control form-control-alternative"
                      formControlName="descricao"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <div class="row">
              <div class="col">
                <h6 class="heading-small text-muted mb-4">Questões</h6>
              </div>
              <div class="col text-right">
                <button type="button" class="btn btn-success btn-info">+</button>
              </div>
            </div>

            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Questão 01</label>
                    <textarea rows="4" class="form-control form-control-alternative"
                      formControlName="questao"></textarea>
                  </div>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Questão 02</label>
                    <textarea rows="4" class="form-control form-control-alternative" formControlName="questao02"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Questão 03</label>
                    <textarea rows="4" class="form-control form-control-alternative" formControlName="questao03"></textarea>
                  </div>
                </div>
              </div> -->
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <!-- <h6 class="heading-small text-muted mb-4">About me</h6> -->
            <div class="pl-lg-4">
              <div class="form-group">
                <button type="button" class="btn btn-success btn-lg btn-block" [disabled]="formGroup.invalid"
                  (click)="salvar()">Salvar Desafio</button>
                  <button type="button" class="btn btn-danger btn-lg btn-block"
                  (click)="cancelar()">Cancelar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>